<ActionBar [title]="titleActionBar" icon="" class="action-bar">
    <NavigationButton icon="font://&#xf060;" class="fas fas-size" (tap)="goBack()"></NavigationButton>
    <ActionItem *ngIf="PDFComplete === true && isIOS === true" icon="font://&#xf56d;" class="fas" ios.position="right" (tap)="downLoadPolicie()"></ActionItem>
</ActionBar>
<PDFView [src]="PDF_URL" (load)="onLoad()">
</PDFView>
<StackLayout *ngIf="PDFComplete === true && isAndroid === true" class="flt-btn-layout" (tap)="downLoadPolicie()">
    <app-floating-button></app-floating-button>
</StackLayout>