<StackLayout *ngIf="!dataLoaded; else elseBlock">
    <app-loader [(textLoader)]="textLoader"></app-loader>
</StackLayout>
<ng-template #elseBlock>
    <StackLayout height="100%">
        <StackLayout width="90%" height="100%" class="notPolicies" *ngIf="policiesArr.length === 0; else elseblk">
            <Label text="Aún no cuenta con pólizas" textWrap="true"></Label>
        </StackLayout>
        <ng-template #elseblk>
            <StackLayout width="90%" height="100%">
                <Label class="textInfo" text="En esta sección podrás ver tus pólizas de seguros"
                    textWrap="true"></Label>
                <ListView [items]="policiesArr" height="100%">
                    <ng-template let-item="item" let-odd="odd" let-even="even">
                        <StackLayout>
                            <StackLayout class="shadow">
                                <StackLayout height="100%" class="stacklayout-card">
                                    <StackLayout class="stacklayout-card-title">
                                        <Image height="125px" [src]="selectImage(item.alias)"></Image>
                                    </StackLayout>
                                    <StackLayout class="stacklayout-card-body">
                                        <GridLayout rows="*,*,*,*,*,*" columns="170, *">
                                            <Label row="0" col="0" class="title-policies" text="Número de Póliza"
                                                textWrap="true"></Label>
                                            <Label row="0" col="1" class="text-policies" [text]="item.poliza"
                                                textWrap="true"></Label>

                                            <Label row="1" col="0" class="title-policies" text="Cobertura"
                                                textWrap="true"></Label>
                                            <Label row="1" col="1" class="text-policies" [text]="item.productoSocio"
                                                textWrap="true"></Label>

                                            <Label row="2" col="0" class="title-policies" text="Cantidad de Pagos"
                                                textWrap="true"></Label>
                                            <Label row="2" col="1" class="text-policies"
                                                [text]="item.cantidadPagos + ' Pagos'" textWrap="true"></Label>

                                            <Label row="3" col="0" class="title-policies" text="Fecha Inicio"
                                                textWrap="true"></Label>
                                            <Label row="3" col="1" class="text-policies" [text]="item.fechaInicio"
                                                textWrap="true"></Label>

                                            <Label row="4" col="0" class="title-policies" text="Fecha Fin"
                                                textWrap="true"></Label>
                                            <Label row="4" col="1" class="text-policies" [text]="item.fechaFin"
                                                textWrap="true"></Label>

                                            <Label row="5" col="0" class="title-policies" text="Marca"
                                                textWrap="true"></Label>
                                            <Label row="5" col="1" class="text-policies" [text]="item.datos.marca"
                                                textWrap="true"></Label>

                                        </GridLayout>
                                    </StackLayout>
                                    <StackLayout class="stacklayout-card-options">
                                        <GridLayout rows="*" columns="*, *">
                                            <Button col="0" class="btnOptions" text="Ver Póliza"
                                                (tap)="onViewTap(item.archivo, item.poliza)"></Button>
                                            <Button col="1" class="btnOptions" text="Modificaciones"
                                                (tap)="onDetailsTap(item)"></Button>
                                        </GridLayout>
                                    </StackLayout>
                                </StackLayout>
                            </StackLayout>
                        </StackLayout>
                    </ng-template>
                </ListView>
            </StackLayout>
        </ng-template>
    </StackLayout>
</ng-template>